.Person {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  table {
    border-collapse: collapse;
    width: 250px;
    height: 200px;
  }
  th, td {
    text-align: left;
    
  }